/* ========================
    body
  ======================== */

/* ========================
    section - all
  ======================== */

/* ========================
    header
  ======================== */
header {
  display: flex;
  width: 120px;
  height: 40px;
  padding: 10px 0;
}
/* .header-list > ul {
  display: flex;
  flex-direction: row;
} */

/* ========================
    main-visual
  ======================== */
.mainvisual {
  height: 600px;
  width: 100%;
  max-width: 1920px;
  object-fit: cover;

}
/* ============================
 main
============================== */
main{
}

/* ========================
    footer
  ======================== */
footer {
}
  